.home-work{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home-work h1{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.work_image{
    width: 100%;
    height: 25rem;
    border-radius: 2rem;
    background-color: #f1f1f1;
    cursor: pointer;
}

@media only screen and (max-width: 747px){
    .work_image{
        margin: auto;
        height: 20rem;
    }
    .home-work-section{
        padding: 1rem;
    }
    .col-md-6{
        padding: 0 !important;
    }
}

.home_work_info{
    height: 25rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


@media only screen and (max-width: 747px){
    .home_work_info{
        height: 6.5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}


.home_work_info h1{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 200;
    color: #200E44;
}
@media only screen and (max-width: 747px){
    .home_work_info h1{
        font-size: 1.2rem;
        margin-bottom: 0.1rem;
    }
}
.home_work_info p{
    color: #594D70;
}

@media only screen and (max-width: 747px){
    .home_work_info p{
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
}

.first{
    padding-left: 3rem;
}

.second{
    align-items: flex-end;
    text-align: right;
    float: right;
    padding-right: 3rem;
}

@media only screen and (max-width: 747px){
    .first{
        padding-left: 0rem;
    }
    .first > div:nth-child(1) {
        width: 80%;
    }
    .second{
        align-items: flex-start;
        text-align: left;
        float: left;
        padding-right: 0rem;
    }
    .second > div:nth-child(1) {
        width: 80%;
    }
    
}
@media only screen and (max-width: 747px){
    .col-reverse{
        flex-direction: column-reverse;
    }
}

/* since no call revers */
    




.read_case{

    width: fit-content;
    cursor: pointer;
}
@media only screen and (max-width: 447px){
    .read_case{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
}


.second > .read_case{
    float: right;
}

.second > .read_case p{
    text-align: right;
}
.read_case p{
    color: #FC4984;
    letter-spacing: 0.21rem;
    font-weight: 100;
    margin-bottom: 2px;
}

.read_case .read_line{
    width: 95%;
    height: 5px;
    background-color: #fc4984;
}

.second > .read_case .read_line{
    float: right;
}


.button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-fill-pink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 3px solid #FC4984;
    border-radius: 3rem;
    background-color: #FFF3F7;
    margin-top: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 447px){
    .button-fill-pink{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: 3px solid #FC4984;
        border-radius: 3rem;
        background-color: #FFF3F7;
        margin-top: 2rem;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.button-fill-pink:hover{
    background-color: rgba(252, 73, 136, 0.6);;
}
.button-fill-pink:hover h2{
    letter-spacing: 0.01rem;
    color: #fff;
}


.button-fill-pink h2{
    font-size: 1.2rem;
    font-weight: 200;
    padding-left: 1rem;
    margin-bottom: 0;
    justify-content: flex-end;
    margin-top: 2px;
    color: #200E44;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.case{
    width: 1.7rem;
}



/* text Animation */
.concept-five {
  display: flex;
  align-items: center;
}

.concept-five .word:hover .char:nth-child(even) {
  top: 4px;
}
.concept-five .word:hover .char:nth-child(odd) {
  top: -4px;
}
.concept-five .char {
    flex: 1;
    position: relative;
    display: inline-block;
    top: 0;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    color: #FC4984;
    letter-spacing: 0.21rem;
    font-weight: 100;
    margin-bottom: 2px;
    font-size: 1rem;
}

.concept-five h1{
    margin-bottom: 0px;
}

@media only screen and (max-width: 747px){
    .concept-five .char{
        font-size: 0.6rem;
    }
}